{% load static %}
{% load widget_tweaks %}



<div class="container p-3">
  <div class="row">
    <div class="col-md-12">
      <div class="card">


        <div class="card-body  text-black mailbox-widget pb-0">
          <h2 class="text-dark pb-3">Your Mailbox</h2>

          <div class="navbar-nav navbar-expand">
            <ul class=" navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'inbox_mensajes' %}">
                  <span>INBOX</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{% url 'send_mensajes' %}">
                  <span>SENT</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'send_mensajes' %}">
                  <span>CREATE</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'send_mensajes' %}">
                  <span>CREATE</span>
                </a>
              </li>
            </ul>
          </div>
        </div>



        {% if inbox %}
        {% for mensaje in inbox %}
        <div class="tab-content" id="myTabContent">


          <table class="table">
            <tbody>

              <!-- row -->
              <tr>
                <td>
                  {{ mensaje.sender }}
                </td>

                <td>


                  {{ mensaje.body }}

                </td>

                
                <td >{{ mensaje.fecha_creacion }}</td>
              </tr>


            </tbody>
          </table>


          {% endfor %}
          {% endif %}


          {% if send %}
          {% for mensaje in send %}
          <div class="tab-content" id="myTabContent">


            <table class="table">
              <tbody>
  
                <!-- row -->
                <tr>
                  <td>
                    {{ mensaje.receiver }}
                  </td>
  
                  <td>
  
  
                    {{ mensaje.body }}
  
                  </td>
  
                  
                  <td >{{ mensaje.fecha_creacion }}</td>
                </tr>
  
  
              </tbody>
            </table>
  
            </table>
            {% endfor %}
            {% endif %}


            {% if form %}

            <form action="{% url 'create' %}" method='POST' >
              <input  name="mensajes" >
              <button type="submit"><i> Enviar</i>
              </button>
           </form>

            {% endif %}






          </div>
        </div>
      </div>
    </div>
  </div>