{% load static %}

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8  mb-5 mb-lg-0">

				{% for articulo in posts %}
				<article class="row mb-5">
					<div class="col-12">
						<div class="post-slider">
							<img loading="lazy" src="{{ articulo.imagen_post.url }}" class="img-fluid" alt="post-thumb">
							
						</div>
					</div>
					<div class="col-12 mx-auto">
						<h3><a class="post-title" href="{% url 'ver_articulo' articulo.slug  %}">{{ articulo.titulo }}</a></h3>
						<ul class="list-inline post-meta mb-4">
							<li class="list-inline-item"><i class="ti-user mr-2"></i>
								<a href="#">{{ articulo.fecha_creacion }}</a>
							</li>
							<li class="list-inline-item">{{ articulo.escritor }}</li>
							<li class="list-inline-item">Categories : <a href="#!" class="ml-1">{{ articulo.categoria }}</a>
							</li>
							<li class="list-inline-item">Tags : 
                        {% for tag in articulo.tag.all %}
                        <a href="#!" class="ml-1"> {{  tag }} </a> 
                        {% endfor %}
							</li>
						</ul>
						<p>{{ articulo.content|striptags|safe|slice:300 }} ...</p> 

                  <a href="{% url 'ver_articulo' articulo.slug  %}" class="btn btn-outline-primary">Continuar leyendo</a>
					</div>
				</article>
            {% endfor %}
				
			</div>
			<aside class="col-lg-4">
	

   {% include 'includes/sidebar.html' %}

			</aside>
		</div>
	</div>
</section>