{% load static %}
{% load widget_tweaks %}




<div class="container-xl col-lg-8  mb-5 mb-lg-0 pt-5" style="max-width: 700px;">
  <div class="row  ">






    <div class="col-xl-12">

      <!-- Profile picture card-->

      <div class="card mb-4 p-1 mb-xl-12 ">

        <div class="navbar-nav navbar-expand">
          <ul class=" navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'editar_perfil' %}">Editar Perfil</a>

            </li>
            <li class="nav-item ">
              <a class="nav-link text-dark" href="{% url 'cambiar_contrasenia' %}">Cambiar contrasenia</a>

              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'mensajes_recibidos' %}">Mensajes recibidos</a>

              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'mensajes_enviados' %}">Mensages enviados</a>

              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-dark" href="{% url 'crear_mensajes' %}">Crear mensaje</a>

              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div>



  {% if inbox %}
  
  <div class="card mb-4">
    <div class="card-header">Mensajes recibidos</div>
    <div class="card-body">


      <table class="table">
        <tbody>
          {% for mensaje in inbox %}
          <!-- row -->
          <tr>
            <td>
              {{ mensaje.sender }}
            </td>

            <td>


              {{ mensaje.body }}

            </td>


            <td>{{ mensaje.fecha_creacion }}</td>
            <td><a href="{% url 'create' mensaje.enviado_por %}">Responder</a></td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>



{% endif %}


{% if send %}



<div class="card mb-4">
  <div class="card-header">Mensajes enviados</div>
  <div class="card-body">


    <table class="table">
      <tbody>
        {% for mensaje in send %}
        <!-- row -->
        <tr>
          <td>
            {{ mensaje.receiver }}
          </td>

          <td>


            {{ mensaje.body }}

          </td>


          <td>{{ mensaje.fecha_creacion }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    </table>

  </div>
</div>
</div>


{% endif %}


{% if u_form %}

<div class="row mb-4">
  <div class="col-xl-12">
    <!-- Profile picture card-->
    <div class="card mb-4 mb-xl-0">
      <div class="card-header">Imagen de Perfil</div>
      <div class="card-body text-center">
        <!-- Profile picture image-->
        <img class="rounded-circle account-img" src="{{ user.perfil.imagen_perfil.url }}" />

        <!-- Profile picture upload button-->
        <form action="{% url 'editar_perfil' %}" enctype="multipart/form-data" method="POST">

          {% csrf_token %}
          {{ p_form.as_table }}

          <input type="submit" class="btn btn-success" value="Add">
        </form>
      </div>
    </div>
  </div>

  <div class="col-xl-12 ">

    <div class="card mb-4">
      <div class="card-header">Cambiar Datos</div>
      <div class="card-body">
        <form method="POST" action="{% url 'editar_perfil' %}">
          {% csrf_token %}

          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (first name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputFirstName">First name</label>
              {{ u_form.first_name }}
            </div>
            <!-- Form Group (last name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputLastName">Last name</label>
              {{ u_form.last_name }}
            </div>
          </div>
          <!-- Form Row        -->

          <!-- Form Group (email address)-->
          <div class="mb-3">
            <label class="small mb-1" for="inputEmailAddress">Email address</label>
            {{ u_form.email }}
          </div>
          <!-- Form Row-->

          <input type="submit" class="btn btn-success" value="Add">
        </form>
      </div>
    </div>


  </div>
</div>



{% endif %}


{% if form_nuevo_mensaje %}

<div class="card mb-4">
  <div class="card-header">Enviar mensaje</div>
  <div class="card-body">
    <form method="POST" action="{% url 'crear_mensajes' %}">
      {% csrf_token %}

      <!-- Form Row-->

      <!-- Form Group (first name)-->
      
      <div class="row gx-3 mb-3">

       

        <!-- Form Group (last name)-->
        <div class="col-md-12 ">
          <label class="small mb-1" for="inputLastName">Enviar a:</label>
          {{ form_nuevo_mensaje.recibido_por }}
        </div>

        <!-- Form Row        -->

        <!-- Form Group (email address)-->
        <div class="col-md-12 ">
          <label class="small mb-1" for="inputEmailAddress">Mensaje:</label>
          {{ form_nuevo_mensaje.cuerpo }}
        </div>
      </div>
      <!-- Form Row-->

      <input type="submit" class="btn btn-success" value="Enviar">
    </form>
  </div>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
</div>



{% endif %}
{% if change_pass %}


<div class="card mb-4">
  <div class="card-header">Cambiar Contrasenia</div>
  <div class="card-body">
    <form method="POST" action="{% url 'cambiar_contrasenia' %}">
      {% csrf_token %}

      <!-- Form Row-->

      <!-- Form Group (first name)-->
      <div class="">
        <label class="small mb-1" for="inputFirstName">Contrasenia anterior</label>
        {{ change_pass.old_password }}
      </div>
      <div class="row gx-3 mb-3">
        <!-- Form Group (last name)-->
        <div class="col-md-12 ">
          <label class="small mb-1" for="inputLastName">Nueva contrasenia</label>
          {{ change_pass.new_password1 }}
        </div>

        <!-- Form Row        -->

        <!-- Form Group (email address)-->
        <div class="col-md-12 ">
          <label class="small mb-1" for="inputEmailAddress">Repetir contrasenia</label>
          {{ change_pass.new_password2 }}
        </div>
      </div>
      <!-- Form Row-->

      <input type="submit" class="btn btn-success" value="Add">
    </form>
  </div>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
</div>




{% endif %}

</div>
</div>






</div>
</div>
</div>

</div>