{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>

<html lang="en" style="height: 100%">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- plugins -->
    <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2"
        style="font-display: optional;">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet"
        href=r"https://fonts.googleapis.com/css?family=Montserrat:600%7cOpen&#43;Sans&amp;display=swap" media="screen">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">

    <link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.css' %}">


    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>


<body style="height: 100%">


 

            
                <div class="h-100 w-100 col-12 d-flex align-items-center justify-content-center">
                    <div class="row align-items-center justify-content-center col-10 col-md-5 col-xl-4" style="max-width: 500px;">
                        <div class="col-12">
                            
                            <div class="form-block col-12">

                                <div class="text-center mb-5">
                                    <h3>Registro a <strong>Blog</strong></h3>
                                </div>

                                <form action="{% url 'registro' %}" method="post">
                                    <div class="form-group first">
                                        {% csrf_token %}
                                        
                                    {{ register_form.username|attr:"type:text"|add_class:"form-control"|attr:"placeholder:Usuario"|attr:"id:username" }}
                                       
                                    </div>
                                    <div class="form-group first">
                                        {% csrf_token %}    
                                        
                                    {{ register_form.email|attr:"type:text"|add_class:"form-control"|attr:"placeholder:email@gmail.com"|attr:"id:username" }}
                                       
                                    </div>
                                    <div class="form-group last mb-3">
                                        {% csrf_token %}   
                                     {{ register_form.password1|attr:"type:password"|add_class:"form-control"|attr:"placeholder:Tu contrasenia"|attr:"id:password" }}
                                        
                                    </div>
                                    <div class="form-group last mb-3">
                                        {% csrf_token %}   
                                     {{ register_form.password2|attr:"type:password"|add_class:"form-control"|attr:"placeholder:Repeti tu contrasenia"|attr:"id:password" }}
                                        
                                    </div>
                                    <div class="d-sm-flex mb-5 align-items-center">
                                        <div class="form-block col-12">
                                            {% if messages %}
                                            <ul class="messages">
                                              {% for message in messages %}
                                              <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                    <input type="submit" value="Registrate" class="btn btn-block btn-primary">
                                </form>

                            </div>
                         



                        </div>
                    </div>

                </div>
           
            
 

</body>

</html>